.form-box {
  width: 90%;
  max-width: 450px;
  z-index: 99999;
  position: fixed;
  top: 400%;
  height: 480px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;

  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(18,118,190);
  }

  .close-btn{
    border-radius: 8px;
    position: absolute;
    right: 15px;
    cursor: pointer;
   top: 10px; 
   border: 0;
   padding: 0 8px;
   background-color: transparent;
   font-size: 28px;
   transition: all 0.3s;
   &:hover{
    background-color: red;
    color: #fff;
   }
  }

  .input-field {
    background: #f2f2ff;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: border-color 0.3s ease;
    border: 2px solid transparent;
    input {
      width: 100%;
      background: transparent;
      border: 2px solid transparent;
      outline: none;
      padding: 15px;
      transition: border-color 0.3s ease;

      &::placeholder {
        color: gray;
      }
    }
    
    i {
      margin-left: 10px;
      color: gray;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    button{
      border: 0;
      font-size: 1rem;
      background-color: transparent;
      cursor: pointer;
    }
    .disable{
      color: rgb(183, 183, 183);
    }
  }

  .send-btn button {
    background-color: rgb(18,118,190);
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;

    &.disable {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }
  }
}
.notification {
  position: fixed;
  bottom: -39.5rem;
  right: 10px;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px 20px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 0.9rem;
  border: 1px solid #3c763d;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;

  &.show {
    transform: translateX(0);
    opacity: 1;
  }
}
.modals{
  background-color: #3c763d;
}