.slider-container{
    margin: auto;
    overflow: hidden;
    position: relative;
   .relative{
    top: 13%;
    left: 8%;
    font-size: 40px;
    position: absolute;
   } 
}
.flexx {
   
    padding: 0 10px;
    margin-top: 200px;
    
    .cover {
        overflow: hidden;
        position: relative; // O'zgaruvchi holat
        cursor: pointer;
        border-radius: 10px;
       height: 480px;
        max-width:  1020px;
        .bgc{
            position: absolute;
            display: flex;
            align-items: start;
            left: -100%;
            flex-direction: column;
            padding: 10px ;
            z-index: 66;
            bottom: 5px;
            transition: all .7s;
            color: #fff;
            button{
                a{
                    text-decoration: none;
                    color: #000000;
                }
                cursor: pointer;
                padding:  8px 30px;
                border: 0;
                font-size: 16px;
                margin: 10px 0;
                border-radius: 30px;
                display: flex;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.315);
                transition: all .3s;
                gap: 2px;
                img{
                    width: 20px;
                    transition: all .3s;
                }
                &:hover img{
                    transform: translateX(5px);
                }
                &:hover{
                    background-color: #ffffffa8;
                }
            }
        }
        img {

            height: 100%;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
            transition: all 0.3s;

        }

        &:hover img {
            transform: scale(1.05);
        }

        // ::before ni hover holatida ko'rsatish
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            width: 100%; // Rasmning to'liq kengligi
            height: 100%; // Rasmning to'liq balandligi
            z-index: 5; // Yuqorida ko'rsatish
            background-color: rgba(0, 149, 255, 0.592); // Qizil fon rangi
            opacity: 0; // Dastlabki holatda ko'rinmaydi
            transition: opacity 0.3s; // O'zgarish vaqtini belgilash
        }

        // Konteyner hover holatiga e'tibor berish
        &:hover::before {
            opacity: .3; // Hover holatida ::before ni ko'rsatish
        }

       

        &:hover .bgc {
            left: 5px;
        }
    }

}

.swiper-button-next,
.swiper-button-prev {
    color: #000000;
    background-color: rgba(0, 149, 255, 0.682);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
}


.swiper-button-next {
    top: 17%;
   right: 10%;
}

.swiper-button-prev {
    top:17%;
    left: 80%;
}