nav {
    position: fixed;
    transition: transform 1s ease;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    padding: 0px 0;
    
    .container {
        max-width: 1450px;
        margin: 0 auto; 
        padding: 20px 10px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex{
            display: flex;
            align-items: center;
           gap: 50px;
           
           ul {
            list-style: none;
            display: flex;
            gap: 50px;
            margin: 0;
            padding: 0;
            transition: all 0.3s;
        
            li {
                position: relative;
        
                a {
                    text-decoration: none;
                    transition: all 0.3s;
                    cursor: pointer;
                    font-size: 18px;
                    color: #000; // Default color
                    text-transform: uppercase;
                    &:hover {
                        color:rgb(18, 118, 190); // Change color to red on hover
                    }
                }
        
                
                &:hover ~  a {
                    color: rgba(128, 128, 128, 0.751); // Change color of other links to gray
                }
            }
        
            // Initially set all links to gray when hovered
            &:hover a {
                color: gray; // Change color of all links to gray when any link is hovered
            }
        }
        }

        button {
            padding: 15px 50px;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #555;
            }
        }
    }
}
nav.hidden {
    transform: translateY(-100px); /* Move out of view */
  }
  
  nav.active {
    transform: translateY(0); /* Move into view */
  }