nav {
  position: fixed;
  transition: transform 1s ease;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  padding: 0px 0;
}
nav .container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .flex {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav .container .flex ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}
nav .container .flex ul li {
  position: relative;
}
nav .container .flex ul li a {
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 18px;
  color: #000;
}
nav .container .flex ul li a:hover {
  color: rgb(18, 118, 190);
}
nav .container .flex ul li:hover ~ a {
  color: rgba(128, 128, 128, 0.751);
}
nav .container .flex ul:hover a {
  color: gray;
}
nav .container .UIC-Language {
  display: flex;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}
nav .container .UIC-Language img {
  width: 20px;
}
nav .container .UIC-Language .sssss {
  cursor: pointer;
  padding: 5px;
  outline: none;
  background-color: transparent;
  width: 100px;
}
nav .container button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}
nav .container button:hover {
  transform: scale(1.02);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000000vh;
  background-color: rgba(0, 0, 0, 0.5); /* Yopiq fon */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
  z-index: 10000;
}

nav.hidden {
  transform: translateY(-100px); /* Move out of view */
}

nav.active {
  transform: translateY(0); /* Move into view */
}

.bgcc {
  background-color: rgb(18, 118, 190);
  -webkit-clip-path: polygon(50% 13%, 100% 0, 100% 76%, 100% 100%, 0 100%, 0% 60%, 0 27%);
          clip-path: polygon(50% 13%, 100% 0, 100% 76%, 100% 100%, 0 100%, 0% 60%, 0 27%);
}

.footer {
  position: relative;
  z-index: 1;
  padding: 0 10px;
  margin-top: 40px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  width: 200px;
  cursor: pointer;
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer ul li {
  list-style: none;
  transition: all 0.3s;
  font-size: 20px;
  color: rgb(233, 233, 233);
}
.footer ul li:hover {
  cursor: pointer;
}
.footer article {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.footer article svg {
  padding: 10px;
  cursor: pointer;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  fill: rgb(18, 118, 190);
  height: 50px;
}

.border {
  border: 1px solid #FFF;
  margin: 30px 0;
}

.f {
  justify-content: space-between;
  margin: 0 100px;
  display: flex;
  align-items: center;
}
.f .iq {
  display: flex;
  overflow-x: hidden;
  align-items: center;
}
.f .iq img {
  width: 40px;
  cursor: pointer;
}
.f .iq h3 {
  transform: translateX(100%);
  transition: all 0.6s;
  opacity: 0;
  font-size: 15px;
}
.f .iq h3 span {
  color: #666A6B;
}
.f .iq img:hover + h3 {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */