nav {
    position: fixed;
    transition: transform 1s ease;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    padding: 0px 0;
    
    .container {
        max-width: 1450px;
        margin: 0 auto; 
        padding: 20px 10px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex{
            display: flex;
            align-items: center;
           gap: 50px;
           
           ul {
            list-style: none;
            display: flex;
            gap: 50px;
            margin: 0;
            padding: 0;
            transition: all 0.3s;
        
            li {
                position: relative;
        
                a {
                    text-decoration: none;
                    transition: all 0.3s;
                    cursor: pointer;
                    font-size: 18px;
                    color: #000; // Default color
                    text-transform: uppercase;
                    &:hover {
                        color:rgb(18, 118, 190); // Change color to red on hover
                    }
                }
        
                
                &:hover ~  a {
                    color: rgba(128, 128, 128, 0.751); // Change color of other links to gray
                }
            }
        
            // Initially set all links to gray when hovered
            &:hover a {
                color: gray; // Change color of all links to gray when any link is hovered
            }
        }
        }

        button {
            padding: 15px 50px;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                background-color: #555;
            }
        }
    }
}
nav.hidden {
    transform: translateY(-100px); /* Move out of view */
  }
  
  nav.active {
    transform: translateY(0); /* Move into view */
  }
  .bgcc{
    background-color: rgb(18, 118, 190);
    clip-path: polygon(50% 13%, 100% 0, 100% 76%, 100% 100%, 0 100%, 0% 60%, 0 27%);
  }
  .footer{
    position: relative;
    z-index: 1;
    padding: 0 10px;
    margin-top: 40px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 200px;
        cursor: pointer;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 50px;
        li{
            list-style: none;
            transition: all .3s;
            font-size: 20px;
            color: rgb(233, 233, 233);
            &:hover{
                cursor: pointer;
            }
        }
    }
    article{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        svg{
            padding: 10px;
            cursor: pointer;
            width: 50px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            fill: rgb(18, 118, 190);
            height: 50px;
        }
    }
  }
  .border{
    border: 1px solid #FFF;
    margin: 30px 0;
  }
  
  .f{
    justify-content: space-between;
    margin:  0 100px;
    display: flex;
    align-items: center;
    .iq {
        display: flex;
        overflow-x: hidden;
        align-items: center;
      
        img {
          width: 40px;
          cursor: pointer;
        }
      
        h3 {
          transform: translateX(100%);
          transition: all 0.6s;
          opacity: 0;
          font-size: 15px;
          span{
            color: #666A6B;
          }
        }
      
        img:hover + h3 {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
  }